/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $headings-font-color !important;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 0.5 * $body-font-size;
  margin-top: 0.75 * $body-font-size;
}

h1, h2 {
  margin-bottom: 0.75 * $body-font-size;
  margin-top: 1 * $body-font-size;
}

h1 {
  font-size: 1.6 * $body-font-size;
  text-transform: capitalize;
}
h2 {
  font-size: 1.4 * $body-font-size;
}
h3 {
  font-size: 1.2 * $body-font-size;
}
h4 {
  font-size: 1.1 * $body-font-size;
}
h5 {
  font-size: 1 * $body-font-size;
}
h6 {
  font-size: 0.9 * $body-font-size;
}

p,
ul,
ol {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: normal;
  margin: 0;
  padding-top: 0.5*$body-font-size;
  color: $font-color;
}

ul, ol {
  margin: 0;
  margin-bottom: 7.5px;
  padding-left: 25px;

  li {
    list-style-position: outside;
    margin-left: 5px;
    margin-bottom: 1px;
  }
}

li > ul, li > ol {
  margin-top: 7.5px;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: $headings-font-weight;
}

pre > a, code > a {
  color: none;
  font-weight: $body-font-weight;
}

// Break long strings to prevent x-scrolling
code,
pre,
.word-wrap {
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

pre, code {
  font-family: $font-family-monospace;
  font-size: 0.85 * $body-font-size;
}

pre {
  display: block;
  width: 96%;
  margin: 1em 0;
  margin-bottom: 9px;
  background: $grey-light;
  padding: 1%;
  white-space: pre-wrap;
  border-radius: $btn-br;
}

p > code {
  color: $black;
  background: none;
}

blockquote {
  padding: 0 0.5*$body-font-size 0 0.5*$body-font-size;
  border-left: 2px solid $grey-medium;
  border-top: 0.3*$body-font-size solid transparent;
  font-style: italic;
  margin: 0 0 0.5*$body-font-size 3px;

  p {
    padding: 0;
  }
}

mark {
  background: #ff0;
}

dl {
  dt {
    font-weight: $headings-font-weight;
  }

  dd {
    margin-left: 2 * $body-font-size;
  }
}
